@import './variables.scss';
.theme-light {
    background-color: $background-color-page-light;
    color: $font-color-theme-light;
    a {
        color: $font-color-link-light;
    }
    .page-container {
        background-color: $background-color-page-light;
    }
    .search-highlight {
        color: $--color-primary-light;
    }
    .rightPanel-container {
        .rightPanel {
            background-color: #9da1a6;
            color: $font-color-theme-light;
            .handle-button {
                background-color: $--color-primary;
                color: #fff;
            }
            .rightPanel-items {
                padding: 20px 10px;
            }
        }
    }
    //页面头部
    .rw-header {
        background-color: $background-color-theme-light;
        color: $font-color-header-light;
        .line {
            background-color: $font-color-header-light;
        }
        .fixed-row {
            .rw-top-header {
                background-color: $background-color-theme-light;
                color: $font-color-theme-light;
            }
        }
    }
    .page-nav {
        background: $background-color-nav-light;
        border-bottom: 1px solid $border-color-nav-light;
        .stock-type {
            border: 1px solid $border-color-table-light;
            span {
                border-right: 1px solid $border-color-table-light;
                color: $font-color-nav-light;
                &:hover {
                    background: $background-color-nav-hover-light;
                }
                &.active {
                    background: $background-color-nav-active-light;
                    color: $font-color-nav-light;
                    b {
                        background: $background-color-nav-active-line-light;
                    }
                }
            }
        }
    }
    .page-left-right {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        height: 100%;
        .page-left {
            background-color: $background-color-menu-light;
            border-right: 1px solid $border-color-light;
            width: 200px;
            height: 100%;
            min-width: 200px;
        }
        .page-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
    .page-main {
        background-color: $background-color-theme-light;
    }
    .el-radio {
        color: $font-color-theme-light;
    }
    .el-scrollbar {
        height: 100%;
        z-index: 1;
    }
    .header-seacher {
        height: 50px;
        line-height: 50px;
        background-color: $background-color-header-light;
        .searcher-item {
            display: flex;
            span {
                display: inline-block;
            }
            .searcher-item-title {
                padding-right: 18px;
            }
            .searcher-item-input {
                flex: 1;
                flex-grow: 1;
            }
        }
    }
    .newstock {
        .el-table {
            th div {
                line-height: 16px;
            }
            .el-table__body tr.current-row>td {
                background: $background-color-current-dark;
                color: #fff;
            }
        }
        .ipo {
            border-top-color: $border-color-dark;
            .ipo-status {
                li.done span {
                    background: $background-color-ipo-done-dark;
                }
                li.ing span {
                    background: $background-color-ipo-ing-dark;
                }
                li.will span {
                    background: $background-color-ipo-will-dark;
                }
            }
            .ipo-process {
                .process-done {
                    .process-info {
                        background: $background-color-ipo-done-dark;
                    }
                    .el-icon-caret-right {
                        color: $background-color-ipo-done-dark;
                    }
                }
                .process-ing {
                    .process-info {
                        background: $background-color-ipo-ing-dark;
                    }
                    .el-icon-caret-right {
                        color: $background-color-ipo-ing-dark;
                    }
                }
                .process-will {
                    .process-info {
                        background: $background-color-ipo-will-dark;
                    }
                    .el-icon-caret-right {
                        color: $background-color-ipo-will-dark;
                    }
                }
            }
        }
    }
    .startT {
        width: 4px;
        height: 14px;
        background: #cb4f44;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px
    }
    .table-title {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }
    .rw-card-title {
        padding-left: 14px;
        height: 29px;
        line-height: 29px;
        border-top: 1px solid $border-color-table-light;
        border-left: 1px solid $border-color-table-light;
        border-right: 1px solid $border-color-table-light;
        background-color: $background-color-table-header-light;
        &.transparent {
            background-color: transparent;
        }
        .cardtitle-line {
            display: inline-block;
            margin-right: 7px;
            height: 29px;
            background: $--color-primary-light;
            width: 3px;
            height: 14px;
            margin-top: -1px;
            vertical-align: middle;
        }
        .card-title {
            font-weight: bolder;
            font-size: 14px;
            vertical-align: middle;
        }
        .right {
            // display: inline-block;
            float: right;
            padding-right: 8px;
            line-height: 29px;
            height: 29px;
            display: flex;
            align-items: center;
            font-size: 14px;
            .icon-week-arrow {
                color: $font-color-select-option-light;
                &:hover {
                    color: $font-color-date-light;
                }
            }
        }
    }
    //loading color
    .el-loading-mask {
        background-color: $background-color-loading-light;
    }
    .el-table__empty-text,
    .echart-view-empty,
    .echart-view-market,
    .list-empty {
        background: url('../assets/img/icon-light-empty.png') no-repeat center center;
        background-size: 63px auto;
    }
    .news-table {
        .el-table__empty-text {
            background: url('../assets/img/empty-notext-light.png') no-repeat center 45px;
            background-size: 61px auto;
            color: $font-color-empty-tip-light;
        }
    }
    .echart-view-empty {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $background-color-table-light;
        z-index: 2;
    }
    .page-left .el-scrollbar {
        background-color: $background-color-menu-light;
        color: $font-color-menu-light;
        .el-submenu__title {
            color: $font-color-menu-light;
            border-color: $background-color-submenu-light;
            i {
                color: $font-color-menu-light;
            }
        }
        li.first-menu {
            background-color: $background-color-menu-light;
        }
        li.first-menu.is-opened>.el-submenu__title {
            background-color: $background-color-menu-active-light;
            border-bottom: 1px solid $background-color-submenu-light;
        }
        li.first-menu:hover,
        .el-submenu__title:hover,
        .el-menu-item:focus,
        .el-menu-item:hover {
            background-color: $background-color-menu-hover-light;
        }
        //二级菜单
        .nest-menu {
            .is-active {
                color: $font-color-submenu-light;
                background-color: transparent;
            }
            .is-opened {
                background-color: $background-color-menu-active-light;
            }
        }
        //当前菜单的父菜单
        .is-active>.el-submenu__title {
            color: $font-color-menu-light;
        }
        //没有子菜单的当前菜单
        .el-menu-item.is-active {
            // background-color: transparent;
            color: $font-color-submenu-light;
        }
        .el-submenu,
        .el-menu--inline {
            background-color: $background-color-submenu-light;
        }
        .el-menu-item {
            color: $font-color-menu-light;
        }
        .el-menu-item.submenu-title-noDropdown {
            background-color: $background-color-menu-light;
        }
    }
    .table-pagination {
        .el-pagination.is-background {
            .btn-prev,
            .btn-next,
            .el-pager li {
                background-color: $background-color-pagination-input-light;
                border: 1px solid $border-color-pagination-input-light;
                color: $font-color-pagination-input-light;
            }
            .btn-prev:hover,
            .btn-next:hover {
                background-color: $background-color-pagination-input-hover-light;
                border-color: $border-color-pagination-input-hover-light;
                color: $background-color-pagination-input-active-light;
            }
            .btn-prev:disabled,
            .btn-next:disabled {
                background-color: $background-color-pagination-input-disabled-light;
                color: $font-color-pagination-input-disabled-light;
                border-color: $background-color-pagination-input-disabled-light;
            }
            .el-pager li {
                &:not(.disabled):hover {
                    background-color: $background-color-pagination-input-hover-light;
                    border-color: $border-color-pagination-input-hover-light;
                    color: $background-color-pagination-input-active-light;
                }
                &:not(.disabled).active {
                    background-color: $background-color-pagination-input-active-light;
                    border-color: $border-color-pagination-input-hover-light;
                    color: $font-color-pagination-input-active-light;
                }
            }
            .el-pagination__total {
                color: $font-color-pagination-input-light;
            }
        }
        .el-input {
            .el-input__inner:hover {
                border-color: $border-color-pagination-input-hover-light;
            }
        }
    }
    .el-table {
        background: $background-color-table-light;
        color: $font-color-table-body-light;
        .border-left-has {
            border-left: 1px solid $border-color-table-light;
        }
        .chart-row-icon {
            background: url('../assets/img/icon-light-chart-pie.png') no-repeat;
            background-size: contain;
        }
    }
    .el-table th {
        background: $background-color-table-header-light;
    }
    .el-table thead {
        font-size: 13px;
        color: $font-color-table-header-light;
    }
    .el-table__header {
        background: $background-color-table-header-light;
    }
    .el-table tr {
        background: $background-color-table-light;
    }
    .el-table--group,
    .el-table--border {
        border-top-color: $border-color-table-light;
        border-left-color: $border-color-table-light;
    }
    .el-table--border th,
    .el-table--border td {
        border-right: 1px solid $border-color-table-light;
        border-bottom: 1px solid $border-color-table-light;
        &.border-right-none {
            border-right: 0 none;
        }
    }
    .el-table th.is-leaf,
    .el-table td {
        border-bottom: 1px solid $border-color-table-light;
    }
    .el-table--group::after,
    .el-table--border::after,
    .el-table::before {
        background-color: $border-color-table-light;
    }
    .el-table__body tr.current-row>td {
        background-color: $background-color-table-header-light;
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td,
    .el-table--enable-row-transition .el-table__body tr:hover>td,
    .el-table--scrollable-x .el-table__body tr:hover>td {
        background-color: $background-color-table-hover-light;
        font-weight: 700;
        color: $font-color-theme-light;
    }
    .el-table__body tr.hover-row>td,
    .el-table__body tr.hover-row.current-row>td,
    .el-table__body tr.hover-row.el-table__row--striped>td,
    .el-table__body tr.hover-row.el-table__row--striped.current-row>td {
        background-color: $background-color-table-hover-light;
        font-weight: 700;
        color: $font-color-theme-light;
    }
    .el-table .el-table__body tr.hover-row td:first-child .cell,
    .el-table .el-table__body tr:hover td:first-child .cell {
        font-weight: 700;
    }
    .el-table--border th.gutter:last-of-type {
        border-bottom: 1px solid $border-color-table-light;
        background: $background-color-table-header-light;
    }
    .el-table--enable-row-transition .el-table__body td {
        transition: none;
    }
    .el-table__fixed::before,
    .el-table__fixed-right::before {
        background-color: transparent;
        border-bottom: 1px solid $border-color-table-light;
    }
    .is-scrolling-left+.el-table__fixed::before,
    .is-scrolling-middle+.el-table__fixed::before,
    .is-scrolling-right+.el-table__fixed::before {
        border-bottom: 0 none;
    }
    .el-table thead.is-group th {
        background-color: $background-color-table-header-light;
    }
    .el-table .cell {
        padding-left: 5px;
        padding-right: 5px;
    }
    .el-table tr.rw-table-tree-node td:first-child .cell {
        font-weight: 400;
        color: $font-color-table-tree-node-light;
    }
    .el-table tr.rw-table-tree-node .el-icon-arrow-right:before {
        content: "\e791";
    }
    .el-table tr.rw-table-tree-node .el-icon-arrow-right {
        font-size: 16px;
        color: $font-color-table-tree-node-light;
    }
    .el-input__inner,
    .el-range-input {
        background-color: $background-color-input-light;
        border: 1px solid $background-color-input-border-light;
        color: $font-color-input-light;
    }
    .el-range-input {
        border: 0 none;
    }
    .el-input-group__append button.el-button,
    .el-input-group__append div.el-select .el-input__inner,
    .el-input-group__append div.el-select:hover .el-input__inner,
    .el-input-group__prepend button.el-button,
    .el-input-group__prepend div.el-select .el-input__inner,
    .el-input-group__prepend div.el-select:hover .el-input__inner {
        background-color: $background-color-input-light;
    }
    .el-input-group__prepend div.el-select .el-input__inner {
        height: 30px;
        line-height: 30px;
        border: 0 none;
    }
    .el-input-group__append,
    .el-input-group__prepend {
        background-color: $background-color-input-light;
        color: $font-color-input-light;
    }
    .el-date-editor .el-range-input {
        background-color: $background-color-input-light;
    }
    .el-input__inner:focus {
        border-color: $border-color-input-focus-light;
    }
    .el-date-editor .el-range-input {
        color: $font-color-input-light;
    }
    .el-input__inner::-webkit-input-placeholder {
        color: $font-color-input-placeholder-light;
    }
    .el-range-input::-webkit-input-placeholder {
        font-size: 14px;
        color: $font-color-input-placeholder-light;
    }
    .el-date-editor .el-range-separator {
        color: $font-color-theme-light;
    }
    .el-range-editor.is-active:hover {
        border-color: $border-color-input-hover-light;
    }
    .el-range-editor.is-active {
        border-color: $border-color-input-focus-light;
    }
    .el-select .el-input.is-focus .el-input__inner {
        border-color: $border-color-input-focus-light;
    }
    .el-select .el-input__inner:focus {
        border-color: $border-color-input-focus-light;
    }
    .el-select .el-input .el-select__caret {
        color: $font-color-select-icon-light;
    }
    .el-input-group__prepend {
        border-color: $border-color-select-light;
    }
    .el-button--info {
        background-color: $background-color-button-info-light;
    }
    .stock-font-red {
        color: $font-color-red-light;
    }
    .stock-font-green {
        color: $font-color-green-light;
    }
    .stock-font-yellow {
        color: $font-color-yellow-light;
    }
    .page-table {
        border-right: 1px solid $border-color-table-light;
        border-bottom: 1px solid $border-color-table-light;
        border-collapse: collapse;
        background: $background-color-table-light;
        width: 100%;
        tr {
            // &.no-warp {
            // td .cell {
            // white-space: nowrap; //不换行
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // width: 90%;
            // }
            // }
        }
        td {
            border-left: 1px solid $border-color-table-light;
            border-top: 1px solid $border-color-table-light;
            padding: 3px 5px;
            color: $font-color-table-body-light;
            // white-space: nowrap; //不换行
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            .cell {
                box-sizing: border-box;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: normal;
                // word-break: break-all;
                min-height: 23px;
                line-height: 23px;
                &.indent {
                    text-indent: 30px;
                }
            }
            &.with-bg {
                background: $background-color-table-header-light;
                color: $font-color-table-header-light;
                width: 140px;
            }
            &.big-td {
                padding: 8px 5px;
            }
            &.center {
                text-align: center;
            }
            &.left {
                text-align: left;
            }
            &.right {
                text-align: right;
            }
            &.bg-right {
                .cell {
                    padding-right: 120px;
                }
            }
        }
    }
    .el-table th>.cell {
        line-height: 17px;
    }
    .page-half {
        background: $background-color-page-light;
    }
    .page-half .chart-view.up .gauge-chart {
        border-right: 1px solid $border-color-table-light;
        border-left: 1px solid $border-color-table-light;
    }
    .line-chart-right {
        border-bottom: 1px solid $border-color-table-light;
        background: $background-color-table-light;
    }
    .line-chart-right .charts {
        border-right: 1px solid $border-color-table-light;
        border-left: 1px solid $border-color-table-light;
    }
    .page-half .chart-view .top-list {
        border-right: 1px solid $border-color-table-light;
        border-left: 1px solid $border-color-table-light;
        border-bottom: 1px solid $border-color-table-light;
    }
    //rw-toplist
    .rw-toplist {
        color: $font-color-table-header-light;
        .rw-toplist-item {
            border-top: 1px solid $border-color-table-light;
            .item-header {
                background-color: $background-color-table-header-light;
                border-bottom: 1px solid $border-color-table-light;
            }
            .rw-table-transparent+.rw-table-transparent {
                border-top: 1px solid $border-color-table-light;
            }
        }
    }
     ::-webkit-scrollbar-corner {
        //边角，两个滚动条交汇处
        background-color: $background-color-table-light;
    }
     ::-webkit-scrollbar-thumb {
        background-color: $background-color-scrollbar-light;
    }
     ::-webkit-scrollbar-track-piece {
        background-color: $background-color-table-light;
    }
    .chart-view {
        background-color: $background-color-table-light;
    }
    .warn-title {
        line-height: 30px;
        height: 30px;
        color: $font-color-theme-light;
    }
    //DatePicker
    .el-date-picker .el-picker-panel__content {
        width: 100%;
    }
    .el-picker-panel {
        background-color: $background-color-date-light;
        border-color: $border-color-date-light;
        color: $font-color-date-light;
        .el-picker-panel [slot=sidebar],
        .el-picker-panel__sidebar {
            background-color: $background-color-date-sidebar-light;
            border-right-color: $border-color-date-light;
            .el-picker-panel__shortcut {
                color: $font-color-date-light;
                &:hover {
                    color: $font-color-date-row-available-light;
                }
            }
        }
        .el-date-picker__header,
        .el-picker-panel__content {
            margin: 0;
        }
        .el-date-picker__header {
            padding: 10px 50px 0;
            .el-date-picker__header-label {
                font-size: 14px;
                color: $font-color-date-light;
            }
        }
        .el-date-picker__header--bordered {
            border-bottom-color: $border-color-date-light;
        }
        .el-year-table td {
            .cell {
                color: $font-color-date-light;
                &:hover {
                    color: $font-color-date-row-available-light;
                }
            }
            &.current:not(.disabled) .cell {
                color: $font-color-date-row-available-light;
            }
            &.today .cell {
                color: $--color-primary-light;
            }
        }
        .el-date-range-picker__content {
            padding: 10px 0 0;
            &.is-left {
                border-right-color: $border-color-date-light;
            }
        }
        .el-date-range-picker__header {
            background-color: $background-color-date-header-light;
            padding: 0 50px;
            div {
                font-size: 14px;
            }
        }
        .el-picker-panel__icon-btn {
            color: $font-color-date-btn-icon-light;
        }
        .el-picker-panel__icon-btn:hover {
            color: $font-color-date-row-available-light;
        }
        &[x-placement^="bottom"] {
            .popper__arrow {
                border-bottom-color: $border-color-date-light;
            }
            .popper__arrow::after {
                border-bottom-color: $background-color-data-table-light;
            }
        }
    }
    .el-date-table {
        &.is-week-mode {
            .el-date-table__row:hover div {
                background-color: $background-color-data-table-range-light;
            }
            .el-date-table__row.current div {
                background-color: $background-color-data-table-range-light;
            }
            .el-date-table__row.current td.today span {
                background-color: $background-color-data-table-range-light; // $background-color-data-table-today-light;
                color: $font-color-date-row-available-light; // $font-color-date-today-light;
            }
        }
        .el-date-table__row {
            background-color: $background-color-data-table-light;
            td {
                div {
                    padding: 0;
                }
                &.in-range div {
                    background-color: $background-color-data-table-range-light;
                    span {
                        color: $font-color-date-light;
                    }
                }
                &.current:not(.disabled) span {
                    background-color: $background-color-data-table-hover-light;
                    color: $font-color-date-row-available-light;
                }
                &.in-range div:hover {
                    background-color: $background-color-data-table-range-light;
                }
                span {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    color: $font-color-date-row-light;
                }
                &.available span {
                    color: $font-color-date-light;
                }
                &.start-date div {
                    margin-left: 8px;
                    span {
                        color: $font-color-date-today-light;
                    }
                }
                &.end-date div {
                    margin-right: 8px;
                    span {
                        color: $font-color-date-today-light;
                    }
                }
                &.start-date span,
                &.end-date span {
                    background-color: $background-color-data-table-today-light; //$background-color-data-table-hover-light;
                    color: $font-color-date-today-light; //$font-color-date-row-available-light;
                }
                &.today span,
                &.in-range.today span {
                    background-color: $background-color-data-table-range-light; // $background-color-data-table-today-light;
                    color: $font-color-date-row-available-light; // $font-color-date-today-light;
                }
                span:hover {
                    color: $font-color-date-row-available-light; //$font-color-date-row-available-light;
                    // background: $background-color-data-table-today-light; //$background-color-data-table-hover-light;
                }
            }
        }
        th {
            border-bottom-color: $border-color-date-light;
            color: $font-color-date-light;
        }
    }
    //查询栏表单按钮
    .el-button {
        background-color: $background-color-form-button-light;
        border: 0 none;
        color: $font-color-form-button-light;
        &:hover {
            background-color: $font-color-form-button-hover-light;
            color: $font-color-form-button-light;
        }
        &:active {
            background-color: $font-color-form-button-active-light;
            color: $font-color-form-button-light;
        }
    }
    .el-button--primary {
        background-color: $background-color-form-primary-button-light;
        &:hover {
            background-color: $background-color-form-primary-button-hover-light;
        }
        &:active {
            background-color: $background-color-form-primary-button-active-light;
        }
    }
    //el-select
    .el-select-dropdown,
    .el-select-dropdown.is-multiple {
        background-color: $background-color-select-option-light;
        border-color: $border-color-select-option-light;
        .el-select-dropdown__list {
            padding: 0;
        }
        .el-select-dropdown__item {
            color: $font-color-select-option-light;
            &.hover,
            &:hover {
                background-color: $background-color-select-option-light;
                color: $font-color-select-option-hover-light;
            }
            &.selected {
                background-color: $background-color-select-option-selected-light;
                color: $font-color-select-option--selected-light;
            }
        }
        &[x-placement^="top"] {
            .popper__arrow {
                bottom: -7px;
                border-top-color: $border-color-select-option-light;
            }
            .popper__arrow::after {
                border-top-color: $background-color-select-option-light;
            }
        }
        &[x-placement^="bottom"] {
            .popper__arrow {
                top: -7px;
                border-bottom-color: $border-color-select-option-light;
            }
            .popper__arrow::after {
                border-bottom-color: $background-color-select-option-light;
            }
        }
    }
    //tooltip
    .el-tooltip__popper.is-dark,
    .tooltip {
        background-color: $background-color-tooltip-light;
        border: 1px solid $border-color-light;
        color: $font-color-tooltip-light;
        box-shadow: 1px 1px 3px $background-shadow-tooltip-light, -1px 1px 3px $background-shadow-tooltip-light;
    }
    .tooltip {
        border-color: $border-color-light;
    }
    .el-tooltip__popper[x-placement^=top] .popper__arrow {
        border-top-color: $border-color-light;
        &::after {
            border-top-color: $background-color-theme-light;
        }
    }
    .el-tooltip__popper[x-placement^=right] .popper__arrow {
        border-right-color: $border-color-light;
        &::after {
            border-right-color: $background-color-theme-light;
        }
    }
    .echart-view,
    .echart-view-small {
        border: 1px solid $border-color-table-light;
        background-color: $background-color-table-light;
        position: relative;
    }
    .echart-view-market {
        background-color: $background-color-table-light;
    }
    //单选框
    .el-radio__input.is-checked+.el-radio__label {
        color: $font-color-theme-light;
    }
    .el-radio__input.is-checked .el-radio__inner {
        border-color: $--color-primary;
        background: $--color-primary;
    }
    .el-radio__inner {
        border-color: $background-color-el-radio-inner-light;
        background: $border-color-el-radio-inner-light;
    }
    .market-emotion-view {
        background: $background-color-page-light;
    }
    .el-radio-button__inner {
        color: $font-color-nav-light;
        background-color: $background-color-el-radio-button-inner-light;
        border-color: $border-color-light;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner {
        background-color: $background-color-el-radio-button-inner-checked-light;
    }
    .el-tree {
        background: $background-color-tree-light;
        color: $font-color-tree-light;
        .el-tree-node__expand-icon {
            color: $font-color-menu-light;
            &.is-leaf {
                color: transparent;
            }
        }
    }
    .el-tree::-webkit-scrollbar-thumb {
        background-color: $background-color-scrollbar-light;
    }
    .el-tree::-webkit-scrollbar-track-piece {
        background-color: $background-color-select-tree-light;
    }
    .el-tree-node__content:hover {
        background: $background-color-tree-light;
    }
    .el-tree-node:focus>.el-tree-node__content {
        background: $background-color-tree-light;
    }
    .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
        background: $background-color-tree-light;
    }
    .rw-select-tree__popover {
        background: $background-color-select-tree-light;
        border: 1px solid $border-color-tree-light;
        padding: 2px;
        .el-input__inner {
            background: $background-color-select-tree-input-light;
            border: 0 none;
        }
        .el-tree {
            background: $background-color-select-tree-light;
        }
        .opt-button {
            .el-button:first-child {
                background-color: $background-color-select-tree-btn-light;
                &:hover {
                    background-color: $background-color-select-tree-btn-hover-light;
                }
            }
        }
    }
    .rw-select-tree__popover[x-placement^=bottom] .popper__arrow {
        border-bottom-color: $border-color-tree-light;
    }
    .rw-select-tree__popover[x-placement^=bottom] .popper__arrow::after {
        border-bottom-color: $background-color-select-tree-light;
    }
    .el-checkbox__inner {
        background-color: transparent;
        border-color: $font-color-tree-light;
        &:hover {
            border-color: $background-color-select-tree-btn-light;
        }
        &::after {
            background-color: $background-color-select-tree-btn-light;
        }
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background-color: $background-color-select-tree-btn-light;
        border-color: $background-color-select-tree-btn-light;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: $background-color-select-tree-btn-light;
    }
    .el-select__tags {
        overflow: hidden;
        flex-wrap: nowrap;
        .el-tag.el-tag--info {
            background-color: $background-color-el-tag-light;
            border-color: $border-color-el-tag-light;
            color: $font-color-el-tag-light;
        }
    }
    .rw-tree-select .el-input--small .el-input__inner,
    .rw-header .el-input--small .el-input__inner {
        // height: 32px !important;
    }
    //rw-chart-dialog
    .rw-chart-dialog {
        .el-dialog__header {
            background: $background-color-rw-chart-dialog-header-light;
            padding: 6px 18px;
            .el-dialog__headerbtn {
                top: 10px;
                right: 18px;
                .el-dialog__close {
                    color: $font-color-rw-dialog-close-light;
                }
            }
            .el-dialog__headerbtn:focus .el-dialog__close,
            .el-dialog__headerbtn:hover .el-dialog__close {
                color: $--color-primary;
            }
            .el-dialog__title {
                color: $font-color-rw-chart-dialog-header-light;
                font-size: 14px;
            }
        }
        .el-dialog__body {
            background: $background-color-rw-chart-dialog-body-light;
            padding: 0px !important;
            .dialog-chart {
                .chart-type {
                    height: 28px;
                    background: $background-color-rw-chart-dialog-type-light;
                    border-bottom: 1px solid $border-color-light;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: start;
                    .chart-type-item {
                        display: inline-flex;
                        width: 24px;
                        height: 24px;
                        background-size: 70% auto;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-left: 10px;
                        cursor: pointer;
                        &.chart-line {
                            background-image: url('../assets/img/icon-light-dialog-line.png');
                        }
                        &.chart-bar {
                            background-image: url('../assets/img/icon-light-dialog-bar.png');
                        }
                        &.chart-point {
                            background-image: url('../assets/img/icon-light-dialog-dot.png');
                        }
                        &.chart-area {
                            background-image: url('../assets/img/icon-light-dialog-area.png');
                        }
                        &.active {
                            background-color: $background-color-rw-chart-dialog-type-active-light;
                        }
                    }
                    .chart-type-item:hover {
                        background-color: $background-color-rw-chart-dialog-type-active-light;
                    }
                }
                .chart-view {
                    height: 400px;
                }
            }
            //dialog内嵌套table
            .dialog-container {
                font-size: 12px;
                td.with-bg {
                    color: $font-color-rw-chart-dialog-header-light;
                }
                .activity-content {
                    color: $font-color-rw-dialog-close-light;
                    .dialog-title {
                        color: $font-color-rw-dialog-title-light;
                        border: 1px solid $font-color-rw-dialog-title-light;
                    }
                }
            }
            .research-qustion {
                color: $font-color-page-research-question-light;
                font-weight: normal;
            }
            .research-answer {
                color: $font-color-page-research-answer-light;
                .content-before {
                    color: $font-color-page-research-question-light;
                }
            }
        }
    }
    ///.v-modal
    .v-modal {
        background: $background-color-v-modalheader-light;
    }
    .el-radio-group {
        .el-radio-button:not(.is-active) {
            .el-radio-button__inner {
                &:hover {
                    background: $background-color-group-hover-light;
                }
            }
        }
    }
    .panel-header,
    .panel-body {
        border-color: $border-color-table-light;
    }
    .datagrid-header td,
    .datagrid-body td,
    .datagrid-footer td {
        border-style: solid;
    }
    .datagrid-header,
    .datagrid-toolbar,
    .datagrid-pager,
    .datagrid-footer-inner {
        border-color: $border-color-table-light;
    }
    .panel-body {
        background: $background-color-table-light;
    }
    .datagrid-htable {
        color: $font-color-table-header-light;
    }
    .datagrid-btable,
    .datagrid-ftable {
        color: $font-color-table-body-light;
    }
    .datagrid-header-row,
    .datagrid-header-inner {
        background: $background-color-table-header-light;
    }
    .datagrid-row {}
    .datagrid-header td,
    .datagrid-body td,
    .datagrid-footer td {
        border-color: $border-color-table-light;
    }
    .datagrid-row-selected {
        background: transparent;
        color: $font-color-table-body-light;
    }
    .datagrid-header-row td.datagrid-header-over {
        background: $background-color-table-header-light;
        color: $font-color-table-header-light;
    }
    .datagrid-row-over {
        background: $background-color-table-hover-light;
        color: $font-color-theme-light;
        font-weight: 700;
    }
    .datagrid-header .datagrid-cell span {
        font-size: 13px;
    }
    .datagrid-cell,
    .datagrid-cell-group,
    .datagrid-header-rownumber,
    .datagrid-cell-rownumber {
        font-size: 14px;
    }
    .datagrid-header-row,
    .datagrid-row {
        height: 30px;
    }
    .tree-title {
        font-size: 14px;
        width: 65%;
        height: 29px;
        line-height: 29px;
    }
    .tree-node-parent {
        color: $font-color-table-tree-node-light;
    }
    .tree-expanded {
        background: url(../assets/img/caret-down.png) no-repeat 0px 2px;
    }
    .tree-collapsed {
        background: url(../assets/img/caret-right.png) no-repeat 0px 2px;
    }
    .tree-chart-icon {
        background: url(../assets/img/icon-light-chart-line.png) no-repeat;
        width: 14px;
        height: 14px;
        background-size: contain;
        top: 8px;
    }
    .easytable-view-empty {
        background: url('../assets/img/icon-light-empty.png') no-repeat center center;
        background-size: 63px auto;
        background-color: $background-color-table-light;
        border: 1px solid $border-color-table-light;
    }
    .datagrid-cell,
    .datagrid-cell-group,
    .datagrid-header-rownumber,
    .datagrid-cell-rownumber {
        text-overflow: ellipsis;
    }
    //树结构菜单
    .treemenu {
        .el-tree {
            background: $background-color-menu-light;
            color: $font-color-menu-light;
            .el-tree-node:focus>.el-tree-node__content {
                background: transparent;
            }
            >.el-tree-node.is-expanded:focus>.el-tree-node__content,
            >.el-tree-node.is-expanded>.el-tree-node__content {
                background: $background-color-menu-active-light;
                border-bottom: 1px solid $background-color-submenu-light;
            }
            .el-tree-node__content:hover {
                background: $background-color-menu-hover-light;
            }
            .el-tree-node__children {
                background: $background-color-submenu-light;
                .is-expanded>.el-tree-node__content {
                    background: $background-color-menu-active-light;
                    border-bottom: 1px solid $background-color-submenu-light;
                }
                .is-current>.el-tree-node__content>.el-tree-node__label {
                    color: $font-color-submenu-light;
                }
            }
            >.is-current>.el-tree-node__content {
                background: $background-color-menu-light;
            }
            .el-tree-node:first-child.is-current>.el-tree-node__content>.el-tree-node__label {
                color: $font-color-submenu-light;
            }
        }
    }
    .el-autocomplete-suggestion {
        background: $background-color-autocomplete-light;
        border-color: $border-color-autocomplete-light;
        .el-autocomplete-suggestion__wrap {
            padding: 1px;
            li {
                color: $font-color-autocomplete-light;
                &:hover {
                    color: $font-color-autocomplete-hover-light;
                    background: $background-color-autocomplete-light;
                }
                &.highlighted {
                    background: $background-color-autocomplete-hover-light;
                    color: $background-color-autocomplete-light;
                }
            }
        }
        &[x-placement^=bottom] .popper__arrow {
            border-bottom-color: $border-color-autocomplete-light;
            top: -7px;
            &::after {
                border-bottom-color: $background-color-autocomplete-light;
            }
        }
    }
    .el-message-box {
        .el-message-box__header {
            background: $background-color-message-header-light;
        }
    }
    .export-btn {
        color: $font-color-export-light;
        .icon-export {
            background: url('../assets/img/icon-export.png') no-repeat 0 -14px;
            background-size: 100% auto;
        }
        &:hover {
            color: $font-color-export-hover-light;
            .icon-export {
                background: url('../assets/img/icon-export.png') no-repeat 0 -28px;
                background-size: 100% auto;
            }
        }
    }
    .tip-data-triangle,
    .tip-tree-triangle {
        border-bottom-color: $font-color-table-header-bg-dark;
    }
    //财经新闻
    .finance-content {
        li {
            padding: 20px 0 10px;
            background: $background-color-finance-light;
            &+li {
                border-color: $border-color-finance-light;
            }
            .finance-title {
                color: $font-color-finance-title-light;
            }
            .finance-brief {
                color: $font-color-finance-content-light;
            }
            .finance-time {
                color: $font-color-finance-time-light;
            }
            .finance-source {
                color: $font-color-finance-source-light;
            }
            &.finance_empty {
                border-color: $border-color-light;
                background-color: $background-color-table-light;
                padding: 53px 20px;
                span {
                    display: inline-block;
                }
            }
        }
    }
    .loading-tip span {
        background: $background-color-page-light;
        color: $font-color-finance-loading-light;
    }
    .loading-end {
        border-color: $font-color-finance-loading-light;
    }
}